name: Update

on:
  push:
    branches:
      - main
#  schedule:
#    - cron: '30 23 * * *'

jobs:
  update:
  
    runs-on: macOS-latest
    
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2

      - name: Run program
        run: Rscript -e 'source("make.R")'

      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add -A
          git commit -m 'New podcasts' || echo "No changes to commit"
          git push origin || echo "No changes to commit"
